In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = "E:\Project\Loker ASN 2023\Loker ASN 2023.txt"
df = pd.read_csv(data)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9432\1973385228.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data)

In [3]:
df.head()

,formasi_id,ins_kd,ins_nm,pengadaan_kd,jp_nama,formasi_nm,jabatan_kd,jabatan_nm,lokasi_nm,pendidikan_nm,gaji_min,gaji_max,jumlah_formasi,disable,group_tk_pendidikan_id,kode_ref_pend,instansi_id,jenis_formasi_id,aksi
0,a2f694efefa34028af2fc8ce73138aae,4024,Kementerian Agraria dan Tata Ruang/Badan Perta...,3,PPPK Teknis,KHUSUS,JF03002807,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - SULAWESI TENGGARA,"D-III SURVEI, PENGUKURAN, PEMETAAN / D-III GEO...",2647200.0,5147200.0,19,0,50,230241B / 4100310 / 4415400 / 4417062 / 4475170,A5EB03E23B06F6A0E040640A040252AD,8,"<a class=""btn btn-primary lihat-btn"" data-form..."
1,646b1ef96dc74f7d97533f119f3987cd,4024,Kementerian Agraria dan Tata Ruang/Badan Perta...,3,PPPK Teknis,KHUSUS,JF03002807,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - ACEH,"D-III SURVEI, PENGUKURAN, PEMETAAN / D-III GEO...",2647200.0,5147200.0,15,0,50,230241B / 4100310 / 4415400 / 4417062 / 4475170,A5EB03E23B06F6A0E040640A040252AD,8,"<a class=""btn btn-primary lihat-btn"" data-form..."
2,52c1d97797c542cd81d733aa2a52b158,4024,Kementerian Agraria dan Tata Ruang/Badan Perta...,3,PPPK Teknis,KHUSUS,JF03002807,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - LAMPUNG,"D-III SURVEI, PENGUKURAN, PEMETAAN / D-III GEO...",2647200.0,5147200.0,12,0,50,230241B / 4100310 / 4415400 / 4417062 / 4475170,A5EB03E23B06F6A0E040640A040252AD,8,"<a class=""btn btn-primary lihat-btn"" data-form..."
3,58334105f970459cbf050396de5a6dbc,4024,Kementerian Agraria dan Tata Ruang/Badan Perta...,3,PPPK Teknis,KHUSUS,JF03002807,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - NUSA TENGGARA TIMUR,"D-III SURVEI, PENGUKURAN, PEMETAAN / D-III GEO...",2647200.0,5147200.0,12,0,50,230241B / 4100310 / 4415400 / 4417062 / 4475170,A5EB03E23B06F6A0E040640A040252AD,8,"<a class=""btn btn-primary lihat-btn"" data-form..."
4,ce9a40187090439ea7e43d2d4981c950,4024,Kementerian Agraria dan Tata Ruang/Badan Perta...,3,PPPK Teknis,KHUSUS,JF03002807,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - PAPUA,"D-III SURVEI, PENGUKURAN, PEMETAAN / D-III GEO...",2647200.0,5147200.0,12,0,50,230241B / 4100310 / 4415400 / 4417062 / 4475170,A5EB03E23B06F6A0E040640A040252AD,8,"<a class=""btn btn-primary lihat-btn"" data-form..."

Data Wrangling

In [4]:
# Menampilkan semua nama kolom
df.columns

Index(['formasi_id', 'ins_kd', 'ins_nm', 'pengadaan_kd', 'jp_nama',
       'formasi_nm', 'jabatan_kd', 'jabatan_nm', 'lokasi_nm', 'pendidikan_nm',
       'gaji_min', 'gaji_max', 'jumlah_formasi', 'disable',
       'group_tk_pendidikan_id', 'kode_ref_pend', 'instansi_id',
       'jenis_formasi_id', 'aksi'],
      dtype='object')

In [5]:
# Menghapus kolom yang tidak diperlukan
df_clean = df.drop(['formasi_id','ins_kd','pengadaan_kd','jabatan_kd',
                     'disable','group_tk_pendidikan_id','kode_ref_pend', 
                     'instansi_id','jenis_formasi_id', 'aksi'], axis=1)

In [6]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247557 entries, 0 to 247556
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ins_nm          247557 non-null  object
 1   jp_nama         247557 non-null  object
 2   formasi_nm      247557 non-null  object
 3   jabatan_nm      247557 non-null  object
 4   lokasi_nm       247557 non-null  object
 5   pendidikan_nm   247557 non-null  object
 6   gaji_min        243124 non-null  float64
 7   gaji_max        243124 non-null  float64
 8   jumlah_formasi  247557 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 17.0+ MB

In [7]:
# Memeriksa apakah ada data kosong dalam DataFrame
df_clean.isnull().sum()

ins_nm               0
jp_nama              0
formasi_nm           0
jabatan_nm           0
lokasi_nm            0
pendidikan_nm        0
gaji_min          4433
gaji_max          4433
jumlah_formasi       0
dtype: int64

In [8]:
# Menghapus baris yang mengandung missing value
df_clean.dropna(axis=0, inplace=True)

In [9]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243124 entries, 0 to 247556
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ins_nm          243124 non-null  object
 1   jp_nama         243124 non-null  object
 2   formasi_nm      243124 non-null  object
 3   jabatan_nm      243124 non-null  object
 4   lokasi_nm       243124 non-null  object
 5   pendidikan_nm   243124 non-null  object
 6   gaji_min        243124 non-null  float64
 7   gaji_max        243124 non-null  float64
 8   jumlah_formasi  243124 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 18.5+ MB

In [10]:
# Cek apakah ada gaji minimal yang kurang dari sama dengan 100 ribu karena ini tidak logis
filter_gaji_min = df_clean[df_clean['gaji_min'] <= 100000].index
print(filter_gaji_min)
len(filter_gaji_min)

Index([ 15671,  20192,  20193,  24971,  24972,  31156,  47750,  47751,  61535,
        64031,  64032,  65632,  67446,  67447,  90286,  90287,  92749,  92750,
        94910,  94911, 104489, 104490, 118956, 118957, 128106, 131266, 133300,
       133301, 147891, 147892, 149097, 149098, 149109, 154522, 158184, 158395,
       158396, 162317, 162318, 174826, 174827, 188455, 188456, 188515, 194096,
       194097, 196207, 196208, 206299, 206300, 209535, 211315, 211329, 211330,
       218184, 218185, 227880, 227881, 228328],
      dtype='int64')

59

In [11]:
# Cek apakah ada formasi yang jumlah formasinya bernilai 0
filter_jumlah_formasi = df_clean[df_clean['jumlah_formasi'] == 0].index
print(filter_jumlah_formasi)

Index([  3740,  13382,  30715,  30895,  34460,  35015,  36149,  49684,  49685,
        49686,  51154,  51155,  51156,  57070,  60134,  60135,  63658,  63659,
        69232,  69620,  69720,  70172,  70898,  82112,  83664,  89874,  94749,
        95166, 104117, 112841, 115377, 116572, 119777, 122559, 123408, 125415,
       125416, 125417, 130679, 136495, 138305, 139506, 147206, 147207, 161348,
       165717, 170808, 170960, 179190, 180549, 180550, 190540, 202763, 206827,
       208371, 208372, 208373, 221816, 222822, 223970, 227250, 229713, 231377,
       231378, 231379, 239373, 241297, 242097, 246343],
      dtype='int64')

In [12]:
# drop formasi yang nilai gaji minimumnya kurang dari 1 juta
df_clean = df_clean.drop(filter_gaji_min)

In [13]:
# drop formasi yang jumlah formasinya bernilai 0
df_clean = df_clean.drop(filter_jumlah_formasi)

In [14]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242996 entries, 0 to 247556
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ins_nm          242996 non-null  object
 1   jp_nama         242996 non-null  object
 2   formasi_nm      242996 non-null  object
 3   jabatan_nm      242996 non-null  object
 4   lokasi_nm       242996 non-null  object
 5   pendidikan_nm   242996 non-null  object
 6   gaji_min        242996 non-null  float64
 7   gaji_max        242996 non-null  float64
 8   jumlah_formasi  242996 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 18.5+ MB

In [15]:
df_clean['gaji_min'] = df_clean['gaji_min'].astype('int64')
df_clean['gaji_max'] = df_clean['gaji_max'].astype('int64')

In [16]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242996 entries, 0 to 247556
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ins_nm          242996 non-null  object
 1   jp_nama         242996 non-null  object
 2   formasi_nm      242996 non-null  object
 3   jabatan_nm      242996 non-null  object
 4   lokasi_nm       242996 non-null  object
 5   pendidikan_nm   242996 non-null  object
 6   gaji_min        242996 non-null  int64
 7   gaji_max        242996 non-null  int64
 8   jumlah_formasi  242996 non-null  int64
dtypes: int64(3), object(6)
memory usage: 18.5+ MB

In [17]:
# Memisahkan nilai kolom pendidikan_nm dan mengulang kolom lain
df_clean = df_clean.assign(pendidikan_nm=df_clean['pendidikan_nm'].str.split(' / ')).explode('pendidikan_nm')

In [20]:
df_clean.head()

,ins_nm,jp_nama,formasi_nm,jabatan_nm,lokasi_nm,pendidikan_nm,gaji_min,gaji_max,jumlah_formasi
0,Kementerian Agraria dan Tata Ruang/Badan Perta...,PPPK Teknis,KHUSUS,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - SULAWESI TENGGARA,"D-III SURVEI, PENGUKURAN, PEMETAAN",2647200,5147200,19
0,Kementerian Agraria dan Tata Ruang/Badan Perta...,PPPK Teknis,KHUSUS,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - SULAWESI TENGGARA,D-III GEOMATIKA,2647200,5147200,19
0,Kementerian Agraria dan Tata Ruang/Badan Perta...,PPPK Teknis,KHUSUS,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - SULAWESI TENGGARA,D-III PERTANAHAN,2647200,5147200,19
0,Kementerian Agraria dan Tata Ruang/Badan Perta...,PPPK Teknis,KHUSUS,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - SULAWESI TENGGARA,D-III TEKNIK GEODESI,2647200,5147200,19
0,Kementerian Agraria dan Tata Ruang/Badan Perta...,PPPK Teknis,KHUSUS,TERAMPIL - ASISTEN PENATA KADASTRAL,KEMENTERIAN ATR/BPN - SULAWESI TENGGARA,D-III GEOGRAFI,2647200,5147200,19

In [19]:
df_clean.to_csv('Loker ASN 2023 Clean.csv')